				/*header style*/
	.nav{position: fixed;
			text-align: right;
			height: 14px;
			line-height: 14px;
			right: 0px;
			top: 0px;
			width: 256px;
			
		}
		.menu{	color: #707070;
				box-shadow: -1px 2px 30px;
				padding-top: 46px;
				margin: 0;height: 600px;
				background: #ffffff;
			}

		.menu a{ display: block;
			font: bold normal 20px/20px Akzidenz-Grotesk BQ Extra Conde;
				letter-spacing: 0px;
				color: #000000BF;
				opacity: 1;
				text-decoration: none;
				line-height: 28px;
				margin: 0 57px;
				clear: right;
		}


		label{ margin:0 40px 0 0;
		font-size: 26px;
		line-height: 70px;
		display: none;
		width: 26px;
		float: right;
		
		}

		#assinatura{
				position: fixed;
				top: 290px;
				right: 127px;
				width: 100px;}


		#toggle {display: none;}

		.satiras{padding-top: 22px;}
			
			

			/*body style*/
			.containerpolvo{position: absolute;
				top: 27.74850299401198vw;
				left: 41px;
						width: 37.0625vw;
						height: 52.6875vw;
						display: inline-block;
			}
			
			.polvo{display: block;
				width: 37.0625vw;
			}

			.overlaypolvo{position: absolute;
				transition: all .3s ease;
				opacity: 0;
				background: #000000;
			}

			.containerpolvo:hover .overlaypolvo{
				opacity: 0.9;
			}

			.textpolvo{position: absolute;
				top: 50%;
				left: 50%;
				color: #ffffff;
				text-align: center;
				font: Bold 20px/20px Akzidenz-Grotesk BQ Extra Conde;
				letter-spacing: 0px;
				transform: translate(-50%, -50%);
			}

			.overlaypolvoleft{
				height: 52.6875vw;
				width: 100%;
				top:0;
				left:0; 
				background: #000000;
			}

			.containerpolvo:hover .overlaypolvoleft{
				width: 100%;
			}


			
 

			.containercontos{position: absolute;
				top: 41px;
				left: 43.46875vw;
				width:  29.25vw;
				height: 44.875vw;
				display: inline-block;}

			.contos{display: block;
				width:  29.25vw;}

			.overlaycontos{position: absolute;
				transition: all 0.3s ease;
				opacity: 0;
				background:#000000;}

			.containercontos:hover .overlaycontos{opacity: 0.9;}

			.textcontos{position: absolute;
				top: 50%;
				left: 50%;
				color: #ffffff;
				text-align: center;
				font: Bold 20px/20px Akzidenz-Grotesk BQ Extra Conde;
				letter-spacing: 0px;
				transform: translate(-50%, -50%);
			}
			.overlaycontosleft{
				height: 44.875vw;
				width: 100%;
				top:0;
				left:0; 
				background: #000000;
			}
			.containercontos:hover .overlaycontosleft{
				width: 100%;
			}


			



			.containerjornal{position: absolute;
				width:37.0625vw;
				height: 21.484375vw;
				top: 0px;
				left: 0px;
				margin: 41px;
				display: inline-block;}

			.jornal{display: block;
				width: 37.0625vw;}

			.overlayjornal{position: absolute;
				transition: all 0.3s ease;
				opacity: 0;
				background:#000000;}

			.containerjornal:hover .overlayjornal{opacity: 0.9;}

			.textjornal{position: absolute;
				top: 50%;
				left: 50%;
				color: #ffffff;
				text-align: center;
				font: Bold 20px/20px Akzidenz-Grotesk BQ Extra Conde;
				letter-spacing: 0px;
				transform: translate(-50%, -50%);
			}
			.overlayjornalleft{
				height: 21.484375vw;
				width: 100%;
				top:0;
				left:0; 
				background: #000000;
			}
			.containerjornal:hover .overlayjornalleft{
				width: 100%;
			}

			
			
		
			/* footer style*/

			.social{
				position: fixed;
				left: 41px;
				bottom: 0px;
				height: 300px;
				display: flex;
				transform: translate(0,250px);

			}

			.media{
				color: #000000;
				background: #ffffff;
				font-size: 20px;
				text-decoration: none;
				
				height: 300px;
				border-radius:50px;
				box-shadow:  -1px 2px 10px;
				transition: 1s ease-in-out;
				transition-property: transform;
				}

			.media:hover{
				transform: translate(0,-200px) ;
			}
			
			.social a{display: block;
				opacity: ;
				margin: 5px;
				padding: 10px;}
			


			.social i{
				left: 51px;
				color: #909090;
				font-size:30px;
				width: 30px;
				height: 30px;}
			
			.social i:hover{
				color: #000000;}

			
			@media screen and (min-width: 1024px) and (max-width: 1332px){
				.nav{width: 256px}

			}
				
				@media screen and (min-width: 769px) and (max-width: 1024px){
				.nav{width: 196.61px;}
				#assinatura{right: 97.54px;width: 92px; top:306.80px;}
				.menu a{right: 20px; margin: 0 40px;}
				.textreflexion{font:Bold 16px/16px Akzidenz-Grotesk BQ Extra Conde;}	
				.textoff{font:Bold 16px/16px Akzidenz-Grotesk BQ Extra Conde;}	
				.textstopmotion{font:Bold 16px/16px Akzidenz-Grotesk BQ Extra Conde;}
				.containerpolvo{width:35.0625vw;height: 51.6875vw;}
				.polvo{width:35.0625vw;}
				.overlaypolvoleft{height: 51.6875vw;}
				.containercontos{width:27.25vw;height:38.875vw;}
				.contos{width:27.25vw;}
				.overlaycontosleft{height:38.875vw;}
				.containerjornal{width:35.0625vw;height:19.484375vw;}
				.jornal{width:35.0625vw;}
				.overlayjornalleft{height:19.484375vw;}

				}

			

			@media screen and (min-width: 600px) and (max-width: 769px){
				.nav{width: 177.60px}
				.menu a{font: bold normal 19px/19px Akzidenz-Grotesk BQ Extra Conde;margin: 0 31px;line-height: 27px;}
				#assinatura{right: 82.23px; width: 87px; top:322.30px;}	
				.textpolvo{font:Bold 20px/20px Akzidenz-Grotesk BQ Extra Conde;}	
				.textcontos{font:Bold 20px/20px Akzidenz-Grotesk BQ Extra Conde;}	
				.textjornal{font:Bold 20px/20px Akzidenz-Grotesk BQ Extra Conde;}
				
		.containerpolvo{width: 54.15625vw; left: 41px;top: 142vw;}
			.polvo{width: 54.15625vw;}
			.overlaypolvoleft{height: 74.36332179930796vw;}

					.containercontos{width: 54.25vw;left: 41px; top: 55vw;}
				.contos{width: 54.25vw}
				.overlaycontosleft{height: 74.36332179930796vw;}
				
				.containerjornal{width: 54.15625vw;left: 0px; top: 41px;}
			.jornal{width: 54.15625vw;}
			.overlayjornalleft{height: 30.36332179930796vw;}}
		



			@media screen and (min-width: 501px) and (max-width: 600px)
			{.nav{width: 147.60px}
			.menu a{font: bold normal 19px/19px Akzidenz-Grotesk BQ Extra Conde; line-height: 27px;margin: 0 26px;}
				#assinatura{right: 57.11px;width: 79px;top: 349.10px;}	
				.textpolvo{font:Bold 14px/14px Akzidenz-Grotesk BQ Extra Conde;}	
				.textcontos{font:Bold 14px/14px Akzidenz-Grotesk BQ Extra Conde;}	
				.textjornal{font:Bold 14px/14px Akzidenz-Grotesk BQ Extra Conde;}
				
			.containerpolvo{width: 50.15625vw; left: 41px;top: 157vw;}
			.polvo{width: 50.15625vw;}
			.overlaypolvoleft{height: 80.36332179930796vw;}

					.containercontos{width: 50.25vw;left: 41px; top: 62vw;}
				.contos{width: 50.25vw}
				.overlaycontosleft{height: 80.36332179930796vw;}
				
				.containerjornal{width: 54.15625vw;left: 0px; top: 41px;}
			.jornal{width: 54.15625vw;}
			.overlayjornalleft{height: 30.36332179930796vw;}}

			
			

			@media screen and (max-width:500px){
				#assinatura{position: fixed;right: 5%;top: 70px;width: 20%}
			
			label{display: block;align-content: right;right: 5%;color: #909090}
			.nav{width: 100%}
			.menu{ text-align: center; display: none; padding-top: 70px; }
			.menu a { display: block;font: bold normal 22px/22px Akzidenz-Grotesk BQ Extra Conde;background: #ffffff;border-bottom: 1px solid #ffffff;margin:0;line-height: 70px; }
			.satiras{padding-top: 55px}
			#toggle:checked + .menu{display: block;}
			.textreflexion{font:Bold 12px/12px Akzidenz-Grotesk BQ Extra Conde;}
			.textoff{font:Bold 12px/12px Akzidenz-Grotesk BQ Extra Conde;}
			.textstopmotion{font:Bold 12px/12px Akzidenz-Grotesk BQ Extra Conde;}
			
			.containerpolvo{width: 60.15625vw; left: 41px;top: 157vw;}
			.polvo{width: 60.15625vw;}
			.overlaypolvoleft{height: 84.36332179930796vw;}

					.containercontos{width: 60.25vw;left: 41px; top: 62vw; }
				.contos{width: 60.25vw}
				.overlaycontosleft{height: 84.36332179930796vw;}
				
				.containerjornal{width: 60.15625vw;left: 0px; top: 41px;}
			.jornal{width: 60.15625vw;}
			.overlayjornalleft{height: 34.36332179930796vw;}
			
		}