	.nav{position: fixed;
			text-align: right;
			height: 14px;
			line-height: 14px;
			right: 0px;
			top: 0px;
			width:256px;
			
		}
		.menu{	color: #707070;
				box-shadow: -1px 2px 30px;
				padding-top: 46px;
				margin: 0;height: 600px;
				background: #ffffff;
			}

		.menu a{ display: block;
			font: bold normal 20px/20px Akzidenz-Grotesk BQ Extra Conde;
				letter-spacing: 0px;
				color: #000000BF;
				opacity: 1;
				text-decoration: none;
				line-height: 28px;
				margin: 0 57px;
				clear: right;
		}


		label{ margin:0 40px 0 0;
		font-size: 26px;
		line-height: 70px;
		display: none;
		width: 26px;
		float: right;
		
		}

		#assinatura{
				position: fixed;
				top: 290px;
				right: 127px;
				width: 100px;}


		#toggle {display: none;}

		.satiras{padding-top: 22px;}

			
			/*body style*/
			.organization{position: relative; display: block;}
			.title{position: relative;
			top: 2vw;
			font: Bold 35px/35px Akzidenz-Grotesk BQ Extra Conde;
			letter-spacing: 0px;
			color: #000000;
			opacity: 1;}
			h1{left: 30vw}

			.text{
				position: relative;
				width: 65vw;
				top: 10vw;
			left: 5vw;
			letter-spacing: 0px;
			font: 300 20px/23px Akzidenz-Grotesk BQ with;
			font-size: 1.5vw;
			line-height: 1.9vw;
			letter-spacing: 0px;
			color: #00000080;
			opacity: 1;}

			.ilustracao{position: relative;
				left: 6vw;
			top: 20vw;
			}
			.text2{position: relative;
				top: 30vw;
			left: 5vw;
			width: 65vw;
			letter-spacing: 0px;
			text-align: left;
			font: 300 20px/23px Akzidenz-Grotesk BQ with;
			font-size: 1.5vw;
			line-height: 1.9vw;
			letter-spacing: 0px;
			color: #00000080;
			opacity: 1;}

			.marca{position: relative;
				left: 7vw;
			top: 33vw;
			}
			.text3{position: relative;
				top: 33vw;
			left: 5vw;
			width: 65vw;
			letter-spacing: 0px;
			text-align: left;
			font: 300 20px/23px Akzidenz-Grotesk BQ with;
			font-size: 1.5vw;
			line-height: 1.9vw;
			letter-spacing: 0px;
			color: #00000080;
			opacity: 1;}

			.title2{position: relative;
			top: 42vw;
			letter-spacing:0px;
			font: Bold 30px/30px Akzidenz-Grotesk BQ Extra Conde;
			letter-spacing: 0px;
			color: #000000;
			opacity: 1;}
			h2{left: 30vw;}


			.estacionario{position: relative;
				left: 7vw;
			top:49vw;
			}
			.estacionario2{position: relative;
				left: 7vw;
			top: 60vw;}
			.estacionario3{position: relative;
				left: 7vw;
			top: 72vw;}
			.estacionario4{position: relative;
				left: 7vw;
			top: 85vw;}
			.estacionario5{position: relative;
				left: 7vw;
			top: 98vw;}

			.title3{position: relative;
			top: 110vw;
			letter-spacing:0px;
			font: Bold 30px/30px Akzidenz-Grotesk BQ Extra Conde;
			letter-spacing: 0px;
			color: #000000;
			opacity: 1;}

			.sinaletica{position: relative;
				left: 3vw;
			top:118vw;	}

			.sinaletica2{position: relative;
				left: 3vw;
			top: 114vw;}

			.sinaletica3{position: relative;
			top: 128vw;
			left: 8vw;}

			.sinaletica4{position: relative;
			top: 138vw;
		left: 2vw;}
	
			.sinaletica5{position: relative;
			top: 136.2vw;
		left: 5vw;}
			.sinaletica6{position: relative;
			top: 145vw;
		left: 5vw;}
			.sinaletica7{position: relative;
			top:155vw;
		left: 2vw;}
			.sinaletica8{position: relative;
			top: 155vw;
		left: 2vw;}		

			.text4{position: relative;
			top: 163vw;
			left: 5vw;
			width: 65vw;
			letter-spacing: 0px;
			font: 300 20px/23px Akzidenz-Grotesk BQ with;
			letter-spacing: 0px;
			color: #00000080;
			opacity: 1;
			margin-bottom: 41px}


	
					/*responsive*/

			@media screen and (min-width: 1024px) and (max-width: 1332px){
				.nav{width: 256px}
				.title .title2 .title3{font: Bold 32px/34px Akzidenz-Grotesk BQ Extra Conde;}
				h1 h2{left: 32vw;}
				.text{width: 65vw;}

			}
				
				@media screen and (min-width: 769px) and (max-width: 1024px){
				.nav{width: 196.61px;}
				#assinatura{right: 97.54px;width: 92px; top:306.80px;}
				.menu a{right: 20px; margin: 0 40px;}
				.title{font: Bold 30px/32px Akzidenz-Grotesk BQ Extra Conde;}
				.title2{font: Bold 30px/32px Akzidenz-Grotesk BQ Extra Conde;}
				.title3{font: Bold 30px/32px Akzidenz-Grotesk BQ Extra Conde;}
				h1{left: 30vw;}
					h2{left: 30vw;}
				.text{width: 65vw; font: 300 20px/22px Akzidenz-Grotesk BQ with;}
				.text2{width: 65vw; font: 300 20px/22px Akzidenz-Grotesk BQ with;}
				.text3{width: 65vw; font: 300 20px/22px Akzidenz-Grotesk BQ with;}
				.text4{width: 65vw; font: 300 20px/22px Akzidenz-Grotesk BQ with;}}
			

			@media screen and (min-width: 600px) and (max-width: 769px){
				.nav{width: 177.60px}
				.menu a{font: bold normal 19px/19px Akzidenz-Grotesk BQ Extra Conde;margin: 0 31px;line-height: 27px;}
				#assinatura{right: 82.23px; width: 87px; top:322.30px;}
				.title{font: Bold 26px/28px Akzidenz-Grotesk BQ Extra Conde;}
				.title2{font: Bold 26px/28px Akzidenz-Grotesk BQ Extra Conde;}
				.title3{font: Bold 26px/28px Akzidenz-Grotesk BQ Extra Conde;}
				.text{width: 60vw; font: 300 17px/19px Akzidenz-Grotesk BQ with;}
				.text2{width: 60vw; font: 300 17px/19px Akzidenz-Grotesk BQ with;}
				.text3{width: 60vw; font: 300 17px/19px Akzidenz-Grotesk BQ with;}
				.text4{width: 60vw; font: 300 17px/19px Akzidenz-Grotesk BQ with;}
				h1{left: 28vw;}
					h2{left: 28vw;}
				
				
				
			}

			@media screen and (min-width: 501px) and (max-width: 600px)
			{.nav{width: 147.60px}
			.menu a{font: bold normal 19px/19px Akzidenz-Grotesk BQ Extra Conde; line-height: 27px;margin: 0 26px;}
				#assinatura{right: 57.11px;width: 79px;top: 349.10px}
				.title{font: Bold 24px/26px Akzidenz-Grotesk BQ Extra Conde;}
				.title2{font: Bold 24px/26px Akzidenz-Grotesk BQ Extra Conde;}
				.title3{font: Bold 24px/26px Akzidenz-Grotesk BQ Extra Conde;}
				.text{width: 55vw;  font: 300 16px/18px Akzidenz-Grotesk BQ with;}
				.text2{width: 55vw;  font: 300 16px/18px Akzidenz-Grotesk BQ with;}
				.text3{width: 55vw;  font: 300 16px/18px Akzidenz-Grotesk BQ with;}
				.text4{width: 55vw;  font: 300 16px/18px Akzidenz-Grotesk BQ with;}
				h1{left: 26vw;}
				h2{left: 26vw;}
			
				

			
			}

			@media screen and (max-width:500px){
				#assinatura{position: fixed;right: 5%;top: 70px;width: 20%}
			
			label{display: block;align-content: right;right: 5%;color: #909090}
			.nav{width: 100%}
			.menu{ text-align: center; display: none; padding-top: 70px; }
			.menu a { display: block;font: bold normal 22px/22px Akzidenz-Grotesk BQ Extra Conde;background: #ffffff;border-bottom: 1px solid #ffffff;margin:0;line-height: 70px; }
			.satiras{padding-top: 55px}
			#toggle:checked + .menu{display: block;}
			.title{font: Bold 22px/24px Akzidenz-Grotesk BQ Extra Conde; }
			.title2{font: Bold 22px/24px Akzidenz-Grotesk BQ Extra Conde; }
			.title3{font: Bold 22px/24px Akzidenz-Grotesk BQ Extra Conde; }
			h1{left: 26vw;}
			h2{left: 26vw;}
			.text{width: 60vw; font: 300 16px/18px Akzidenz-Grotesk BQ with; }
			.text2{width: 60vw; font: 300 16px/18px Akzidenz-Grotesk BQ with; }
			.text3{width: 60vw; font: 300 16px/18px Akzidenz-Grotesk BQ with; }
			.text4{width: 60vw; font: 300 16px/18px Akzidenz-Grotesk BQ with; }
		}
